@font-face {
    font-family: instagram-logo;
    src: url('../../../public/fonts/logo/FontsFree-Net-Billabong.ttf');
}

:root {
    --clr-neutral-900: hsl(0, 0%, 0%);
    --clr-neutral-500: hsl(0, 0%, 18%);
    --clr-neutral-400: hsl(0, 0%, 85%);
    --clr-neutral-300: hsl(0, 0%, 92%);
    --clr-neutral-200: hsl(0, 0%, 96%);
    --clr-neutral-100: hsl(0, 0% , 100%);  

     --grdient-primary: linear-gradient(0deg, hsl(73, 72%, 75%), hsla(92, 62%, 72%, 0.74), hsla(110, 50%, 70%, 0.8945), hsla(141, 43%, 62%, 0.9287), #52B69A, #34A0A4, #168AAD, #1A759F, #184E77);
     --gradient-short: linear-gradient(0deg, #D9ED92, #52B69A, #184E77);

    --clr-primary: hsl(206, 66%, 28%);

    --ff-accent: 'Instagram Sans', serif;
    --ff-base: 'Montserrat', sans-serif;
    --ff-logo: instagram-logo, sans-serif;

    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semibold: 600;
    --fw-bold: 700;
    --fw-extrabold: 800;
    

    /* margins desktop */
    --margin-rt-box: 0rem;
    --margin-lt-box: 20rem;

    --margin-bt-box: 15rem;

    /* margin laptop */
    --margin-lt-box--l: 15rem;

    /* margin tablet */
    --margin-lt-box--t: 12rem;

    /* gradient background scalability */
    --scale-xxl: scale(1.3);
    --scale-xl: scale(1.1);
    --scale-l: scale(1);

    /* logo sizes */
    /* desktop */
    --fs-xs: .8rem;
    --fs-s: 1rem;
    --fs-m: 1.2rem;
    --fs-l: 1.4rem;
    --fs-xl: 2.2rem;
    --fs-xxl: 2.5rem;
    --fs-3xl: 3rem;
}

*::before,
*::after {
    box-sizing: border-box;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}


/*
  2. Remove default margin
*/
hr{
background: hsl(0deg 0% 100% / 26%);
border-color: hsl(0deg 0% 100% / 83%);
border-radius: 31%;
}

* {
    margin: 0;
}

a, a:hover, a:visited, a:link, a:active{
    text-decoration: none;
    box-shadow: none;
}

a{
    color: var(--clr-neutral-500);
}

/*
  3. Allow percentage-based heights in the application
*/
html,
body {
    height: 100%;
    font-family: var(--ff-base);
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
    line-height: 1.7;
    -webkit-font-smoothing: antialiased;
    background-image: url("../home/elipse-logo.svg");
    background-repeat: no-repeat;
    background-position: 15rem -4rem;
    background-size: 50rem;
}

/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
    object-fit: cover;
}

/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
    font: inherit;
    border: none;
}

/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

h1,
h2,
h3 {
    line-height: 1;
}

ul li{
    text-decoration: none;
    list-style-type: none;
}


#app, #row{
    height: 100%;
}

#row{
    display: flex;
    flex-flow: column;
    min-height: 100%;
    justify-content: space-between;
}

main{
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    height: 100%;
}

footer{
    max-width: 100%;
    width: 90%;
    display: block;
    margin: auto;
}

footer ul{
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    padding: unset;
}




/* LOGO */

.logo {
    font-family: var(--ff-logo);
    font-size: var(--fs-xl);
    color: var(--clr-neutral-100);
}

header .logo {
    text-align: right;
}


/* FORM Styles */
.form__row .header__text {
    font-size: var(--fs-xxl);
    font-weight: var(--fw-semibold);
}

.form__row .header__text span {
    font-weight: var(--fw-extrabold);
}

.form__row .header__text span:is(.highlighted) {
    color: white;
}

.form__row #login-form {
    display: inline-flex;
    flex-flow: column;
}

.form__row .form__btn {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
}

form .form__input {
    display: flex;
    flex-flow: column-reverse;
    height: 5rem;
}

#login-form input,
.form__btn * {
    background-color: unset;
    border-radius: 2rem;
}

#login-form input {
    border: 1px solid var(--clr-neutral-900);
    position: relative;
    z-index: 3;
    padding: .4rem .9rem;

    font-size: var(--fs-m);
    height: 2rem;
}

#login-form input[type="password"] {
    font-family: caption;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    
    
    -webkit-text-fill-color: var(--clr-neutral-900);
    transition: background-color 5000s ease-in-out 0s;
}
#login-form .form__input input:is(:active, :focus, :valid)~label {
    top: 0rem;
    font-size: var(--fs-xs);
}

#login-form label {
    position: relative;
    z-index: 1;
    top: 2.3rem;
    left: 1rem;
    transition: all .2s ease-out;
}


.form__btn {
    margin-top: 1.5em;

}

.form__btn > .btn-link{
    border: 1px solid var(--clr-neutral-100);
    color: var(--clr-neutral-100);
    font-size: var(--fs-m);
    transition: .1s all ease-in-out;
    text-align: center;
    padding: .2rem 0rem;
    width: 6.5em;
}

.form__btn> :hover {
    cursor: pointer;
    font-weight: var(--fw-semibold);
    border: 2px solid var(--clr-neutral-100);
}

/* .form__btn>*:last-child {
    margin-left: 1rem;
} */

#login-form .form__link {
    color: var(--clr-neutral-900);
    transition: .2s all ease-in-out;
}

#login-form .form__link>span {
    font-weight: var(--fw-extrabold);
}

#login-form .form__link:hover {
    color: var(--clr-neutral-100);
}

#login-form .form__link{
    margin-top: .5em;
}

/* backround gradient circle */
/* main::after {
    content: "";
    position: relative;
    position: absolute;
    display: inline;
    z-index: -1;
    width: 40rem;
    height: 40rem;
    left: 10%;
    bottom:10%;
    background: var(--grdient-primary);
    border-radius: 100%;
    transform: translate(-20%, -75%) rotate(35deg);
    animation: 25s infinite alternate-reverse rotateCircle;
} */

/* .right-box{
    overflow: hidden;
} */


/* LEFT BOX IMAGES */

   .image-body {
       position: relative;
   }

   .image-body img {
       position: absolute;
   }

.image-body img {
    width: 14em;
}


main .left-box {
    width: 45%;
    overflow: hidden;
}

main .right-box {
    width: 50%;
}

.image-body img:last-of-type {
    inset: 5em 11em;
    animation: 2.5s 1 normal slideDownToUp;
}

.image-body img:first-of-type {
    inset: 7em 7em;
    animation: 2.5s 1 normal slideUpToDown;
}


/* keyframes */

@keyframes slideDownToUp {
    from {
        transform: translateY(50%);
    }

    to {
        transform: translateY(0%);
    }
}

@keyframes slideUpToDown {
    from {
        transform: translateY(-50%);
    }

    to {
        transform: translateY(0%);
    }
}

/* user is logged */

.logged__form .form__btn{
    column-gap: 1em;
}

.logged__form .btn-link{
    padding: 0.5em 1rem;
    width: fit-content;
}

/* register user */

form .form__input.register{
    height: 4.5rem;
}

.btn-link.register{
    width:100%;
}

@media (max-width: 680px) {
.form__container:has(.logged__form) .header__text {
        text-align: center;
    }

.logged__form .form__btn {
        justify-content: center;
        width: max-content;
        flex-flow: wrap;
}

    main .left-box{
        display: none;
    }

    main .right-box{ 
        width: 100%;
    }

    .form__container{
        max-width: 90%;
        margin: auto;
    }

    .form__row .header__text{
        font-size: var(--fs-l);
    }

    .form__row{
        display: flex;
        flex-flow: column;
        align-items: center;
    }

    footer ul{
        text-align: center;
    }

    footer ul li:last-of-type {
    width: 100%;
    text-align: center;
    font-weight: var(--fw-semibold);
}

    footer ul > li {
    flex-grow: 1;
    width: 33%;
    }
    body {
        background-position: -6rem -10rem;
    }

}

@media (min-width: 480px) and (max-width: 680px) {
    .form__row .header__text{
        font-size: var(--fs-l);
    }
}


@media (max-width: 480px) {
    body {
            background-position: -5rem -10rem;
    }
}

@media (min-width: 681px) and (max-width: 768px) {

    main .box{
        width: 50%;
    }

    .right-box .form__container{
        max-width: 90%;
    }

 

    .image-body img:last-of-type {
        inset: 2em 1em;
    }

    .image-body img:first-of-type {
        inset: 7em 7em;
    }
}

@media (min-width: 769px) and (max-width: 992px) {
    main .left-box{
        width: 40%;
    }

    main .right-box{
        width: 50%;
    }

    .image-body img:last-of-type {
        inset: 2em 1.5em;
    }

    .image-body img:first-of-type {
        inset: 7em 7.5em;
    }

        .image-body img {
            width: 11em;
        }
}

@media (min-width: 857px) and (max-width: 992px){
    body {
            background-position: 24rem -5rem;
    }

    .form__container .form__row{
        max-width: 85%;
        margin-left: auto;
    }

        .image-body img:last-of-type {
            inset: 2em 1.5em;
        }
    
        .image-body img:first-of-type {
            inset: 7em 7.5em;
        }
    
        .image-body img {
            width: 12em;
        }
}


@media (min-width: 993px) and (max-width: 1154px){
    body {
            background-position: 26rem -5rem;
            background-size: 60rem;
        }
}

@media (min-width: 993px) and (max-width: 1299px) {

    main .left-box {
            width: 50%;
        }
    
    main .right-box {
            width: 50%;
        }
    .form__container header,
    .form__container .form__row{
        max-width: 90%;
    }

    .form__row{
        margin-left: auto;
    }
}

@media (min-width: 993px) {
    .image-body img:last-of-type {
            inset: 2em 1.5em;
        }
    
    .image-body img:first-of-type {
        inset: 9em 11.5em;
    }

    .form__row{
        margin-top: calc(25% - 4rem);
    }

    footer{
        margin-right: 2em;
    }
}

@media (min-width: 1155px) and (max-width: 1499px) {
    body {
            background-position: calc(100% + 18em + 25px);
            background-size: calc(100% - 12rem);
        }   
}

@media (min-width: 1300px) and (max-width: 1499px){
    main .right-box{
        width: 45%;
    }
}

@media (min-width: 1300px){
    footer{
        max-width: 60%;
        margin: unset;
        margin-left: auto;
    }
}


@media (min-width: 1500px) {
        body {
                background-position: calc(100% + 25em + 20px);
                background-size: calc(80% - 2rem);
            }

            main .left-box {
                width: 50%;
            }

            main .right-box {
                width: 40%;
            }
        
            .image-body img {
                width: 17em;
            }
}
/* ====== */
/* DASHBOARD */
/*  ====== */



.nav-top,
.highlighted-text{
    max-width: 95%;
    margin: auto;
}

.nav-top {
    display: flex;
    flex-flow: row;
    margin-top: 1em;
    justify-content: space-between;
}

.logo{
    order: 2;
}

.menu-short{
    display: flex;
    flex-flow: row;
    max-width: 13em;
    width: 12em;
    height: 50px;
    background-color: var(--clr-neutral-100);
    border-radius: 5em;
}

.menu-short > a{
    width: 35%;
}

.menu-short a > img{
    border-radius: 100%;
    width: initial;
    object-fit: contain;
}

.menu__btns{
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    padding: 0;
}

.menu__btns a{
    line-height: 0;
    color: var(--clr-neutral-900);
}

.highlighted-text{
    font-weight: var(--fw-semibold);
    color: var(--clr-neutral-100);
    font-size: var(--fs-s);
}

.img__avatar{
    border-radius: 50%;
}

/* suggestion carousel */

.suggestions-carousel{
    display: flex;
    flex-flow: row;
    column-gap: .7em;
    width: 100%;
    overflow-x: scroll;
    scroll-behavior: smooth;
}
.shorts::-webkit-scrollbar,
.suggestions-carousel::-webkit-scrollbar{
    width: 0;
}

.suggestion-item{
    display: flex;
    align-items: center;
    flex-flow: row;
    flex-shrink: 0;
    width: 50%;
    justify-content: center;
    gap: .5em;
}

.suggestion-item a{
    max-width: 5em;
}

.suggestion-item img{
    height: fit-content;
    width: 4em;
}

.suggestion__user-info .item__nickname,
.suggestion__user-info .item__friends-count > span{
    font-weight: var(--fw-semibold);
    color: var(--clr-neutral-900);
}

.suggestion__user-info .item__friends-count {
    color: var(--clr-neutral-100);
    font-size: var(--fs-xs);
}

.suggestion__user-info{
    display: flex;
    flex-flow: column;
    line-height: 1.2rem;
}

.item__add{
    border-radius: 2.5em;
    font-size: var(--fs-xs);
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    column-gap: 1em;
    background-color: var(--clr-primary);
    color: var(--clr-neutral-100);
}

/* suggestion btns */

.carousel-btn{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    color: var(--clr-neutral-100);
    background-color: var(--clr-primary);
    position: absolute;
    z-index: 999;
    margin-top: 0.5em;
    cursor: pointer;
    opacity: .75;
    transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.carousel-btn span{
    display: flex;
    flex-flow: column;
}

.carousel-btn:is(:active, :hover, :focus){
    opacity: 1;
}

.carousel-btn.prev-btn{
    left: 10px;
}

.carousel-btn.next-btn {
    right: 10px;
}

.shorts .carousel-btn{
    margin-top: 4.5em;
}

/* SHORTS */

.shorts{
    margin: 1.5em 0em;
    width: 100%;
    display: flex;
    flex-flow: row;
    overflow-x: scroll;
    scroll-behavior: smooth;
    
}

.shorts-section{
    max-width: 100%;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
}

.shorts-section.active > img,
.shorts-section.active .short__box{
    border: 0px solid var(--clr-primary);
}

.shorts-section.active .short__box{
    border-width: 2px 2px 2px 0px;
}

.shorts-section.active > img {
    border-width: 2px 0px 2px 2px;
}

.shorts-section > .short__box,
.shorts-section > img{
    max-width: 48%;
}

.shorts-section > img{
    border-radius: 10px 0px 0px 10px;
}

.short__box{
    background-color: var(--clr-neutral-200);
    border-radius: 0px 10px 10px 0px;
    display: flex;
    flex-flow: column;
}

.short__header{
    max-width: 90%;
    margin: 0 auto;
    margin-top: .5em;
    align-items: center;
    column-gap: .5em;
    display: flex;
    flex-flow: row;
}

.short__header img{
    max-width: 30%;
}

.short__desc{
    width: 95%;
    min-height:125px;
    margin: 0 auto;
    margin-top: .5em;
}

/* POSTS */

main.posts{
    gap: 2em;
    flex-flow: column;
}

.image-post{
    border-radius: 10px 10px 0px 0px;
}

.post__info{
    display: flex;
    flex-flow: row;
    background-color: var(--clr-neutral-200);
    padding: 1.5em 1em;
    column-gap: .5em;
    border-radius: 0px 0px 10px 10px;
}

.post__avatar{
    flex-basis: 25%;
    align-self: flex-start;
}

.post__header{
    display: flex;
    flex-flow: row;
    gap: 1em;
}

.post__header__mobile .author,
.post__header .author{
    font-weight: var(--fw-semibold);
}

.post__socials{
    flex-basis: 65%;
    display: flex;
    flex-flow: wrap;
    align-self: center;
    justify-content: space-between;
    gap: .5em;
}

.post__socials a .material-symbols-outlined{
    font-variation-settings: 'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48;
}

.post__socials a > * {
    transition: all .3s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}

.post__socials a:hover > * {
    font-variation-settings: 'FILL' 1,
            'wght' 400,
            'GRAD' 0,
            'opsz' 48;
}
.post__socials a:hover .social__counter{
    border: 1px solid var(--clr-neutral-500);
}

.social-box{
    text-align: center;
}

.social-box > span{
    font-size: var(--fs-xl);
}

.social__counter{
    background-color: var(--clr-neutral-400);
    border-radius: 10px;
    padding: 0em .7em;
}

.post__desc{
    margin-top: .8em;
}



@media (max-width: 319px) {
    .nav-top{
        flex-flow: column-reverse;
    }

    .logo{
        text-align: right;
    }

    .menu-short a > img{
        width: 75%;
    }

    .menu-short{
        max-width: 100%;
        width: 100%;
    }

    .post__socials{
        flex-basis: 100% !important;
        justify-content: space-around !important;

    }
}

@media (max-width: 550px) {
    .post__header__mobile .img__avatar{
        width: 100%;
        height: fit-content;
    }

    .post__header,
    .post__avatar{
        display: none;
    }

    .post__info{
        padding: 1.5em .5em;
        justify-content: space-between;
    }

    .post__header__mobile{
        flex-basis: 35%;
        display: flex;
        flex-flow: row;
        align-items: start;
        gap: .5rem;
        font-size: var(--fs-xs);
    }


    .post__info{
        flex-flow: wrap;
    }

    .post__content{
        order: 2;
    }

    .post__socials{
        order: 1;
        gap: .5rem;
        flex-basis: 50%;
        justify-content: right;
    }

    .social-box>span{
        font-size: var(--fs-l);
    }

    .social__counter{
        font-size: var(--fs-xs);
    }

    .post__header__mobile > a {
        width: 3rem;
    }


}

@media (min-width: 550px) {
    .post__header__mobile{
        display: none;
    }

    .post__socials{
        flex-flow: row;
    }
}

@media (min-width: 600px) and (max-width: 1024px) {
    .suggestion-item {
        width: 32%;
    }

    .shorts-section{
        flex-basis: 66%;
    }

    .posts{
        max-width: 95%;
        margin: auto;
    }

    .post__avatar{
        flex-basis: 10%;
    }

}

@media (min-width: 600px) and (max-width: 1024px) {
        body {
                background-size: 75rem;
                background-position: -5rem -19rem;
            }
}

@media (min-width: 881px) {
    .suggestion-item {
        width: 24%;
    }

    .shorts-section{
        flex-basis: 40%;
    }
}


@media (min-width: 769px) {
    .post__socials{
        flex-basis: unset;
    }


    .post__desc{
        max-width: 95%;
    }
}

/* HOME/ DASHBOARD - DESKTOP */

@media (max-width: 1024px){
    .desktop-menu,
    .desktop-title{
        display: none;
    }
}

@media (min-width: 1025px) {
.form-image-upload-box,
.images{
    display: none;
}

/* suggestion carousel btns */
.suggestions-carousel .carousel-btn{
    margin-right: 14.2%;
}

.suggestions-carousel .carousel-btn.next-btn{
    margin-top: 240px;
}

.suggestions-carousel .carousel-btn.prev-btn{
    margin-top: -20px;
}

.suggestions-carousel .carousel-btn.prev-btn,
.suggestions-carousel .carousel-btn.next-btn{
    right: 10px;
}

.carousel-btn.next-btn,
.carousel-btn.prev-btn{
    left: unset;
    right: unset;
}


.shorts .carousel-btn{
    margin-left: 9%;
}

.shorts .carousel-btn.next-btn{
    margin-top: 100%;
}

.shorts .carousel-btn.prev-btn{
    margin-top: 0px;
}

/* end of btn navigation carousel */

.nav-top{
    grid-area: 1 / 4;
    width: 100%;
}

    .desktop-title{
        display: block;
        grid-area: 2 / 1 / 2 / 1;
        color: #000;
        font-size: xx-large;
        font-weight: 700;
        text-align: left;
        width: 100%;
        margin-bottom: 1em;
    }

    .desktop-menu{
        grid-area: 3 / 4 / 5 / 4;
    }

    .profile-menu > ul{
        display: flex;
        flex-flow: column;
        align-items: self-end;
        color: white;
    }

    .profile-menu>ul a {
        font-size: var(--fs-m);
        color: var(--clr-neutral-100);
        display: inline-flex;
        flex-flow: row;
        align-items: center;
        column-gap: 1em;
    }

    .profile-menu .user-profile{
        font-weight: var(--fw-bold);
        margin-bottom: .5em;
    
    }

    .profile-menu .user-profile img{
        max-width: 35px;
        border-radius: 100%;
        border: .11em solid var(--clr-neutral-100);
    }


    .menu-short{
        display: none;
    }

        div#dashboard {
            display: grid;
            grid-template-columns: 25% 25% 25% 25%;
            justify-content: center;
            max-width: 85%;
            margin: auto;
            column-gap: 1em;
        }
    
        main.posts {
            grid-area: 3 / 2 / 12 / 4;
            justify-content: flex-start;
        }
    
        .shorts {
            grid-area: 3 / 1 / 12 / 2;
            margin-top: 0;
            flex-flow: column;
            gap: 1em;
            
        }
    
        

        a.shorts-section {
            flex-flow: column;
            justify-content: flex-start;
            flex-basis: 20%;
        }
    
        .shorts-section>img {
            max-width: 100%;
        }
    
        .shorts-section>.short__box {
            max-width: max-content;
        }
    
        p.highlighted-text {
            grid-area: 5 / 4 / 5 / 4;
            max-height: 50px;
            width: 100%;
            margin-bottom: 1em;
        }
    
        section.suggestions-carousel {
            grid-area: 6 / 4 / 6 / 4;
            flex-flow: column;
            gap: 1em;
            overflow-y: scroll;
            height: 315px;
        }
    
        .suggestion-item {
            width: 100%;
            /* align-self: stretch; */
            justify-content: center;
        }


.suggestion__user-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 70%;
}

a.item__nickname {
    grid-area: 1 / 1;
    overflow: hidden;
    max-width: 100px;
    text-emphasis: inherit;
}

p.item__friends-count {
    grid-area: 2 / 1;
}

button.item__add {
    grid-area: 1 / 2 / 3;
    place-self: center;
    justify-self: flex-end;
    padding: .5em 1em;
}

.suggestion-item a{
    max-width: 3em;
}

.profile-menu hr{
    margin: 0.55em 0em;
}

.post__avatar{
    flex-basis: 100px;
}

.short__header img{
    max-width: 15%;
}

.shorts,
.suggestions-carousel{
    overflow-x: unset;
} 



}